@mixin space ($size) {
  width: $size;
  height: $size;
  float: left;
}

@mixin bg-transition ($time) {
  background: lightblue;
  transition: background $time ease;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.board {
  max-width: 300px;
  margin: 20px auto;

  .space {
    border: 1px double black;
    padding: 5px;
    @include space(100px);
    @include bg-transition(1.5s);
  }
  .red {
    background: red;
  }

  .black {
    background: black;
  }
}
